footer {
  text-align: center;
  background-color: var(--cor-fundo-interacao);
  padding: 1rem 0;
}

/* Responsivo Tablet */
@media screen and (min-width: 767px) and (max-width: 1023px) {
}

/* Responsivo Desktop */
@media screen and (min-width: 1024px) {
}
